body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #020617;
}

/* NAV */
header {
    padding: 20px;
    text-align: center;
    background: #020617;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('services.jpg') center/cover;
}

.hero h1 {
    font-size: 3rem;
    animation: fadeUp 1s ease forwards;
    color: black;
}

.hero p {
    opacity: 0;
    animation: fadeUp 1.5s ease forwards;
    color: #020617;
}

/* SERVICES */
.services {
    padding: 60px 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
    transform: translateY(20px);
    opacity: 0;
}

.card:hover {
    transform: scale(1.05);
    background: #334155;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin-top: 10px;
}

/* TEAM */
.team {
    padding: 60px 20px;
    text-align: center;
}

.team img {
    width: 100%;
    border-radius: 15px;
    transition: 0.4s;
}

.team img:hover {
    transform: scale(1.05);
}

/* PARTNERS */
.partners {
    padding: 40px;
    background: #020617;
    text-align: center;
}

.partners img {
    width: 100px;
    margin: 10px;
    filter: grayscale(100%);
    transition: 0.3s;
}

.partners img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

/* ANIMATIONS */
@keyframes fadeUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.show {
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: 1s;
}

/* RESPONSIVE */
@media(max-width:768px){
    .hero h1 { font-size: 2rem; }
}
